
sama/image-builder/*.img
sama/image-builder/*.tar.gz
sama/image-builder/*.bmap

sama/yocto/meta-arm
sama/yocto/meta-atmel
sama/yocto/meta-openembedded
sama/yocto/poky
sama/yocto/build

zynq/image-builder/*.img
zynq/image-builder/*.tar*

zynq/petalinux/project-spec/configs/*.old
zynq/petalinux/project-spec/configs/config

zynq/image-builder/overlays/boot
! zynq/image-builder/overlays/boot/placeholder

