
[Unit]
Description=Mount /data

[Mount]
What=/dev/disk/by-partlabel/data
Where=/data
Type=ext4
Options=defaults,noatime,nofail

[Install]
WantedBy=multi-user.target
